*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Avenir Next", "Avenir", sans-serif;
  color: #333333;
  margin: 0; }

button,
input {
  font: inherit; }

.page-header {
  background: #2980b9;
  color: white;
  text-align: center;
  padding: 1rem; }
  .page-header h1 {
    margin: 0;
    padding-bottom: 0.5rem; }
  .page-header ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0; }
  .page-header li {
    display: inline-block; }
    .page-header li:not(:last-of-type) {
      margin-right: 1rem; }
  .page-header a {
    color: white; }

.main {
  margin: 1rem auto;
  width: 27rem;
  max-width: 100%;
  max-width: -webkit-calc(100% - 2rem );
  max-width: calc(100% - 2rem ); }

.won {
  display: none;
  background: #2ecc71;
  color: white;
  text-align: center;
  padding: 1rem; }
  .won h2 {
    margin: 0; }
  .won .new-game {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    display: block;
    padding: 0.25em;
    margin: 0 auto; }
    .won .new-game:hover {
      color: #2ecc71;
      background: white; }

.block {
  display: block; }

.board {
  box-sizing: content-box;
  width: 100%;
  border: 2px solid #333333; }
  .board .row {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .board .row:nth-of-type(3n) {
    border-bottom: 2px solid #333333; }
  .board .row:last-of-type {
    border-bottom: none; }
  .board .cell {
    display: inline-block;
    width: 11.11111%;
    text-align: center;
    border: 1px solid #333333;
    transition: background-color 0.2s ease-in-out; }
  .board .cell:nth-of-type(3n) {
    border-right: 3px solid #333333; }
  .board .cell:last-of-type {
    border-right-width: 1px; }
  .board .cell--input {
    font: inherit;
    max-width: 3rem;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    font-size: 2rem; }
    .board .cell--input[disabled] {
      opacity: 0.75; }
    @media screen and (max-width: 32rem) {
      .board .cell--input {
        max-width: 2rem;
        height: 2rem;
        width: 2rem;
        font-size: 1.5rem; } }
